extends ./layout
block content
  center
    h1 실시간 ranking 현황
    br
    h2 1위 : #{arr[0].name} : #{arr[0].value}
    h2 2위 : #{arr[1].name} : #{arr[1].value}
    h2 3위 : #{arr[2].name} : #{arr[2].value}

